In [1]:
import numpy as np 
import pandas as pd 
import requests
from bs4 import BeautifulSoup as bs

In [2]:
Books_Authors = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/raw_data/Books_CorrectAuthorName.csv')
Books_Authors.head()

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
genres = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/raw_data/Updated_Genres.csv')
genres.head()

   Unnamed: 0        ISBN      genres
0           0  0195153448     History
1           1  0195153448    Classics
2           2  0195153448  Nonfiction
3           3  0195153448   Reference
4           4  0195153448    Religion

In [4]:
genres['ISBN'].unique()

array(['0195153448', '0002005018', '0060973129', '0374157065',
       '0393045218', '0399135782', '0425176428', '0671870432',
       '0679425608', '074322678X', '0771074670', '080652121X',
       '0887841740', '1558746218', '1567407781', '1575663937',
       '0440234743', '0452264464', '0609804618', '1841721522',
       '0061076031', '0439095026', '0689821166', '0971880107',
       '0345402871', '0345417623', '0684823802', '0375759778',
       '0425163091', '3404921038', '3442410665', '0375406328',
       '0446310786', '0449005615', '0060168013', '038078243X',
       '055321215X', '0061099686', '0553582909', '0671888587',
       '0553582747', '0425182908', '042518630X', '0440223571',
       '0812523873', '0842342702', '0440225701', '0060914068',
       '0156047624', '0380715899', '0553280333', '0671623249',
       '0679810307', '0679865691', '0345260317', '0394743741',
       '042511774X', '0804106304', '1853262404', '0312970242',
       '1853260053', '0060938412', '0140067477', '0345465083',
       '0451625889', '1558531025', '0441783589', '0394895894',
       '1569871213', '087113375X', '0340767936', '0743403843',
       '0060930365', '0060177586', '0375509038', '0553062042',
       '0316769487', '8445071408', '8445071769', '8445071777',
       '0679429220', '0312252617', '0312261594', '0316748641',
       '0316973742', '0385235941', '0446677450', '0451166892',
       '0553347594', '0671621009', '067976397X', '0684822733',
       '0786868716', '8472238822', '0671864769', '0671521519',
       '0440222303', '0312953453', '0446608653', '0446612545',
       '0446612618', '0451208080', '0553584383', '0671027360',
       '0316735736', '0743439740', '0345372700', '0380619458',
       '0446325805', '0451406923', '0671042858', '0743249992',
       '0840734530', '0425184226', '0375500766', '9724119378',
       '0451205197', '0060929790', '0060976845', '0061099325',
       '0671004573', '0446601640', '0330484516', '038572179X',
       '0393020371', '1900850303', '1903019699', '0345425294',
       '0451410319', '0553583468', '8420639133', '8476409419',
       '0380778556', '0451525221', '0385336772', '0440949424',
       '0505524996', '0140252800', '0451452755', '0812575482',
       '044651747X', '0060801263', '0061030147', '0140250964',
       '0446527165', '0671461494', '0385337639', '039575514X',
       '0451206673', '0330332775', '0486284735', '0671021745',
       '0671047612', '0671504282', '0399138684', '0785263292',
       '0830714014', '0345354931', '0553278223', '3150000335',
       '3257203659', '3257207522', '3257208626', '3257208634',
       '3257208669', '3257210450', '3257212054', '3257212429',
       '3257214154', '3257216416', '3257233051', '342311360X',
       '3423116714', '3423241489', '3426605686', '3453212150',
       '3462021095', '3492045642', '3498020862', '3499110695',
       '3499151502', '3518111000', '3548254268', '3570300099',
       '3596292646', '0060977493', '0316602906', '0316693006',
       '0345311396', '0345378490', '0345404793', '0345433173',
       '0375400117', '0375705856', '0380717018', '0380718332',
       '038076654X', '0380807866', '0385316895', '0385497466',
       '0385508042', '0385509456', '0385511612', '0385730586',
       '0425164403', '0440234964', '0446605484', '0446610399',
       '0449006522', '0449911004', '0451162072', '0451186648',
       '0452282152', '051513290X', '0553580388', '0590629719',
       '0671023616', '0671027387', '0684848783', '0743486226',
       '0786863986', '0803251718', '0804117934', '140003180X',
       '155874262X', '0060987103', '0151008116', '0375704965',
       '0525947647', '0804111359', '1558744150', '0316782505',
       '006102063X', '0060013117', '0060199563', '006052779X',
       '0060563079', '0060809027', '0061040967', '0061050474',
       '0061052515', '0061052523', '0064472264', '0140620664',
       '0312148267', '0312156960', '0312890044', '034543191X',
       '0373836023', '0375751513', '0375801677', '0375814248',
       '0375823352', '037582345X', '0375823468', '0380730448',
       '0380973839', '0385327773', '0394586239', '0439510112',
       '0440241413', '0451409256', '0451523415', '0451526341',
       '0553280589', '0571197639', '0670035262', '0679423079',
       '0679751343', '0684833395', '0743245024', '0749748001',
       '0749748028', '0963094424', '1401201172', '1563892278',
       '1563898586', '156971620X', '1592571301', '0374270325',
       '0375719180', '0440235502', '044023722X', '1573225487',
       '1853260673', '0060977477', '0345391691', '0520011171',
       '0553278746', '0670856045', '0872200760', '0937858994',
       '0671649949', '0590431110', '0064470113', '0553571486',
       '0312963009', '0345430476', '0345435869', '0380728729',
       '038081840X', '0449912302', '055329198X', '0671018930',
       '0812541642', '0312988699', '0486282112', '0670815373',
       '0385313748', '1575843366', '0684193957', '0345371984',
       '0380730138', '1573228737', '9681500555', '0380711109',
       '0452283914', '0425120279', '067153484X', '0380728273',
       '8484509141', '0446606197', '1559703237', '3596214629',
       '0062770500', '0671847546', '0060188731', '0140374248',
       '0142001740', '0312995423', '0380704587', '0380815923',
       '0385416342', '0385418493', '038542471X', '0425098109',
       '0449005410', '0449202631', '0449207544', '0515128554',
       '0517577402', '0590450875', '0590481371', '067103619X',
       '0684177730', '0743411269', '0743470389', '076218857X',
       '0767905938', '0800706544', '0801096677', '0849953014',
       '0891091963', '0915811537', '0927545373', '1880185008',
       '0140345809', '0156528207', '0380012863', '0451154916',
       '0785815147', '0875421288', '1567184294', '156718796X',
       '1862047626', '0020437501', '0198320264', '0373196989',
       '0373245580', '0451527747', '0671867113', '0812504208',
       '0060173289', '0060973897', '006101351X', '0140104682',
       '0312143370', '0316666343', '039456894X', '0440224675',
       '0449002632', '0449213773', '0452279690', '0553569058',
       '0679427430', '0679725393', '0802114369', '0803233019',
       '0940322978', '1579651658', '1878424319', '8440616252',
       '8478097732', '8478800336', '8478884963', '0600586898',
       '1853260622', '0060804157', '0152012966', '0312283784',
       '0345297709', '0345313097', '0345335465', '0345416848',
       '0385333404', '044021145X', '0449212084', '0590947257',
       '074345829X', '0786913878', '0801491827', '0843136685',
       '0866119531', '0866119566', '0870441663', '1561561428',
       '0553210092', '0553258524', '0688163726', '1569471096',
       '055358099X', '0316168815', '014023828X', '0316314927',
       '0345424719', '0375414746', '0375726403', '0385503857',
       '0425156842', '0440226104', '0452277337', '0553802488',
       '0671021001', '0767903579', '0805063897', '0679777431',
       '0553285343', '0671002481', '0812523385', '0020199090',
       '0385495145', '0679733825', '0842329129', '0345451260',
       '0380973545', '0393321576', '0743424425', '0786868015',
       '0446610178', '0684854953', '0743229878', '0380617625',
       '0380732335', '0385337132', '0440235057', '0445402040',
       '0618119760', '0871138646', '0026329859', '0060917016',
       '0060925000', '0060932759', '0061000280', '0192815318',
       '0312195516', '0380792664', '0393048977', '0399137807',
       '039914739X', '0451203046', '0451410556', '0451523318',
       '0486281965', '0486292940', '051762639X', '0684824442',
       '0743458303', '081296666X', '0819215635', '0880011025',
       '1877727083', '0312278586', '8845229041', '887641486X',
       '0140370900', '0674511255', '0030096189', '0345374657',
       '0395710901', '080521061X', '0823032612', '0679310002',
       '0312288115', '0316171107', '0380710218', '0515118656',
       '0553289063', '0671000306', '0671673688', '0425178242',
       '0618173870', '0156027321', '0375403582', '0385721420',
       '0451202341', '0743418190', '0385335407', '0060923245',
       '0486272664', '0060913509', '0553272837', '0440225078',
       '0312145543', '0425181111', '0380732688', '0140286276',
       '0373484100', '0449907481', '0553107305', '080213825X',
       '0515127833', '0345441133', '0515134279', '0385490992',
       '0385424728', '0312980388', '0590419625', '0385472951',
       '0451195663', '0425182878', '0553564528', '055356451X',
       '0743412621', '0849943728', '0849943450', '084994371X',
       '0590406019', '0020442408', '0553225987', '042517736X',
       '0671868713', '038549825X', '0553202294', '0345313860',
       '0345369947', '067170124X', '0345353625', '0308102282',
       '006017143X', '0805056491', '0679401377', '1562827049',
       '0385306032', '0816152446', '0821772953', '0345379454',
       '0553576925', '0743206053', '0688169678', '0439319552',
       '0307001164', '0440441501', '0590687301', '0439061644',
       '0439569842', '0307118703', '0590418858', '0812519655',
       '0812524853', '0449211770', '193072229X', '0812521129',
       '0345251733', '0312995431', '0312312628', '0446394521',
       '0590021117', '068484267X', '0553578693', '0380709260',
       '0807565288', '0312986769', '0345413377', '0345413369',
       '0679893105', '0061096091', '0345369068', '0451184718',
       '0449209121', '0060938455', '080411952X', '0060575808',
       '0060558865', '0767912918', '0553298860', '0385335679',
       '0440122090', '0671525832', '0553279572', '0061009059',
       '0060930187', '0679450432', '0821775863', '0821770209',
       '0670855758', '0553562819', '0446364193', '0446519138',
       '0425179672', '0061042943', '0399144463', '0965404560',
       '006015781X', '0060930705', '0312206763', '0316116025',
       '0156013967', '0385314019', '0743444167', '0618231617',
       '0811203220', '1573229148', '0425174484', '0385496907',
       '0446523992', '0140185216', '0684717255', '0486272745',
       '0062507249', '0684801221', '1576737357', '0060083298',
       '0446672211', '0140293248', '0807070718', '0743213831',
       '0345305477', '0061080519', '0142000205', '0316735027',
       '193156146X', '015600710X', '0062517856', '0679767789',
       '0449911683', '0425169626', '0449207757', '0449245691',
       '0140029400', '0140021566', '2253004022', '2253005274',
       '225300670X', '2266084372', '2070362388', '2266029460',
       '2253007102', '2070417743', '2070384349', '207053880X',
       '2070334368', '2290314951', '229000510X', '3492207006',
       '0140620427', '0385504209', '0446525502', '0399147012',
       '0670892963', '0688180639', '0316789089', '0451197275',
       '0425184129', '0151001006', '0385505833', '0679442790',
       '0525943862', '0609605925', '0060191929', '0743206045',
       '0684864843', '0684867818', '0743406176', '0380978539',
       '0679603352', '0679410430', '0446523569', '0671042556',
       '0679450440', '0140107649', '0609606727', '0446527793',
       '0446531332', '1570717257', '0060192631', '0385420161',
       '0345339711', '052594463X', '039304016X', '0399147128',
       '0670031046', '0394574745', '0316969443', '0743230051',
       '0316693200', '0684868911', '0842336214', '0399148582',
       '0684864320', '0525944834', '0345428900', '0451176812',
       '0718144538', '0446602086', '0394551427', '0064407667',
       '0007100221', '2253148539', '2253043974', '0747549923',
       '0743462335', '0140253580', '0947782141', '057120354X',
       '0349101779', '0743222229', '185479549X', '0140292918',
       '1858813093', '2871290911', '0198604025', '2253063339',
       '1860198597', '0767908473', '1842040154', '0140622063',
       '0571209521', '2264009306', '1841952931', '0416196772',
       '0375501347', '0060927240', '0316776963', '156341029X',
       '0060934719', '1886383421', '1888451084', '0451450256',
       '1555835953', '0395877563', '0962893862', '1555834531',
       '0393318435', '0889740828', '1563410443', '1563899388',
       '1563411148', '0553579681', '0553579673', '0451181379',
       '0786889160', '0345370740', '0553574175', '0553574167',
       '0553574159', '0312287240', '0679801146', '0446300101',
       '0821750410', '0425142485', '0451456548', '0060006048',
       '0312906552', '0440117291', '0425049981', '0374386676',
       '0786886463', '0345395379', '0380788497', '0307215342',
       '0374343381', '0345403339', '0440226694', '0440219604',
       '0767903285', '0345429176', '038529929X', '1573229571',
       '0345418778', '0517201658', '0743211383', '039914370X',
       '1884777805', '0312977905', '0812521331', '0451205421',
       '0440218535', '0449207595', '039457513X', '0394559487',
       '0804001944', '0590897985', '0689832877', '0689829698',
       '0439042917', '0064409457', '0064405052', '043922165X',
       '0152162577', '015216250X', '1562477528', '0439221676',
       '0439221684', '0439221714', '0439221706', '0439221730',
       '0440415993', '0895872102', '068983585X', '0345391802',
       '0440219078', '185424597X', '2080105434', '3257201761',
       '3404121686', '3404118960', '0345356578', '0345346971',
       '0753804700', '0451155750', '0786890436', '0521427150',
       '0812923278', '0884111342', '0345428544', '0671694049',
       '080901582X', '0449006557', '0380820447', '0385497679',
       '0451454243', '0941423042', '0373871562', '0553101439',
       '0835949362', '0880701102', '039914563X', '0312853238',
       '0688048730', '0425161722', '0385493800', '067175145X',
       '0440211727', '0380002450', '0394178017', '0425134350',
       '0385479689', '0380538504', '044661162X', '0671742566',
       '0515122408', '0440222818', '0451204050', '038533334X',
       '0449131548', '0440120470', '0451188209', '0440130913',
       '0449001954', '0345404777', '0451185277', '0440224829',
       '0671779338', '0515134368', '0380759497', '3442098424',
       '0394578791', '1558505377', '0373245696', '0743201078',
       '068983571X', '0553256785', '0892967994', '0061064505',
       '1551668785', '0381999866', '0380817144', '0380752115',
       '0553212583', '0446364762', '0425166619', '061312975X',
       '0765341972', '0590514776', '0373037430'], dtype=object)

In [5]:
books_for_which_genre_we_have = Books_Authors[Books_Authors['ISBN'].isin(genres['ISBN'].unique())].copy()
books_for_which_genre_we_have.head()

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
books_for_which_genre_we_have['Publisher'].unique()

array(['Oxford University Press', 'HarperFlamingo Canada',
       'HarperPerennial', 'Farrar Straus Giroux',
       'W. W. Norton &amp; Company', 'Putnam Pub Group',
       'Berkley Publishing Group', 'Audioworks', 'Random House',
       'Scribner', 'Emblem Editions', 'Citadel Press',
       'House of Anansi Press', 'Health Communications',
       'Brilliance Audio - Trade', 'Kensington Publishing Corp.', 'Dell',
       'Plume', 'Three Rivers Press', 'Ryland Peters &amp; Small Ltd',
       'Scholastic', 'Aladdin', 'Too Far', 'Ballantine Books',
       'Random House Trade Paperbacks', 'LÃ?Â¼bbe', 'Goldmann',
       'Alfred A. Knopf', 'Little Brown &amp; Company', 'Harpercollins',
       'Avon', 'Bantam', 'HarperTorch', 'Bantam Books', 'Pocket',
       'Tor Books', 'Tyndale House Publishers',
       'HarperCollins Publishers', 'Harvest Books', 'Avon Books',
       'Laurel Leaf', 'Prentice Hall (K-12)',
       'NTC/Contemporary Publishing Company', "St. Martin's Press",
       'Avon Trade', 'Penguin Books', 'Signet Book', 'Thomas Nelson',
       'Ace Books', 'Landoll', 'Atlantic Monthly Press',
       'Hodder &amp; Stoughton General Division',
       'Simon &amp; Schuster (Trade Division)', 'Perennial',
       'Bantam Doubleday Dell', 'Little, Brown', 'Minotauro',
       'Distribooks', 'Back Bay Books', 'Doubleday Books', 'Warner Books',
       'Fireside', 'Vintage', 'Hyperion', 'Tusquets', 'Star Trek',
       'Pocket Star', 'Harper Mass Market Paperbacks (Mm)',
       'Warner Books (Mm)', 'Onyx Books', 'Free Press',
       'Thomas Nelson Inc', 'Edicoes Asa', 'Pan Macmillan', 'Anchor',
       'W.W. Norton &amp; Company', 'Arcadia Books',
       'John Hunt Publishing, Ltd.', 'Fawcett Books', 'Alianza',
       'Downtown Book Center', 'Delta', 'Laure Leaf', 'Love Spell',
       'Penguin Books Ltd', 'Roc', 'Tor Fantasy',
       'Harpercollins Publisher', 'Mariner Books', 'Picador (UK)',
       'Dover Publications', 'Simon Pulse', 'Nelson Books', 'Regal Books',
       'Del Rey Books', 'Spectra', 'Philipp Reclam, Jun Verlag GmbH',
       'Diogenes', 'Diogenes Verlag', 'Distribooks Inc',
       'Deutscher Taschenbuch Verlag (DTV)', 'Dtv',
       'Droemersche Verlagsanstalt Th. Knaur Nachf., GmbH &amp; Co.',
       'Heyne', 'Kiepenheuer &amp; Witsch', 'Piper', 'Rowohlt, Reinbek',
       'Rowohlt Tb.', 'Suhrkamp', 'Ullstein Tb',
       'Bertelsmann, MÃ?Â¼nchen', 'Fischer (Tb.), Frankfurt',
       'Bantam Dell Pub Group', 'Doubleday',
       'Delacorte Books for Young Readers', 'Island', 'Warner Vision',
       'Plume Books', 'Jove Books', 'Atria',
       'University of Nebraska Press', 'Ivy Books', 'Regan Books',
       'Harcourt', 'Vintage Books USA', 'Dutton Books', 'HarperCollins',
       'HarperFestival', 'HarperPrism', 'HarperTempest',
       "St. Martin's Griffin", 'Orb Books', 'Harlequin', 'Modern Library',
       'Knopf Books for Young Readers', 'William Morrow',
       'Wendy Lamb Books', 'Random House Inc', 'Push', 'Signet Classics',
       'Signet', 'Faber Faber Inc', 'Viking Juvenile',
       'Simon &amp; Schuster', 'Touchstone', 'Egmont Childrens Books',
       'Dreamhaven Books', 'DC Comics', 'Dark Horse Comics',
       'Alpha Books', 'Farrar Straus &amp; Giroux',
       'Dell Publishing Company', 'Riverhead Books',
       'University of California Press', 'Spectra Books', 'Viking Books',
       'Hackett Pub Co Inc', 'W W Norton &amp; Co',
       'Washington Square Press', 'Scholastic Paperbacks (Mm)',
       'Harpercollins Juvenile Books', 'Starfire', 'Del Rey', 'Eos',
       "St. Martin's Paperbacks", "Viking Children's Books",
       'Delacorte Press', "Reader's Digest",
       'Editores Mexicanos Unidos, S.A.', 'Quill (HarperCollins)',
       'Arcade Publishing', 'Fischer Taschenbuch Verlag GmbH',
       'Access Press (HarperCollins)', 'John Wiley &amp; Sons Inc',
       'Penguin USA (Paper)', 'Pocket Books', 'Readers Digest Assn',
       'Broadway Books', 'F. H. Revell', 'Baker Book House',
       'W Publishing Group', 'NavPress', 'Pub Group West',
       'YWAM Publishing', 'Emmaus Road Intl', 'Puffin Books',
       'Castle Books', 'Llewellyn Publications', 'Harper Collins - UK',
       'Silhouette', 'Penguin USA', 'Fawcett', 'New York Review of Books',
       'Artisan Publishers', 'Amber-Allen Publishing',
       'Editiones B, Grupo Zeta', 'Columna', 'Ediciones Temas de Hoy',
       'Salamandra', 'Hal Leonard Corp', 'Dial Books',
       'Bantam Dell Publishing Group', 'Jump at the Sun', 'I Books',
       'Wizards of the Coast', 'Cornell University Press',
       'Price Stern Sloan', 'Playmore Inc. Publishers',
       'National Geographic Society', 'Kidsbooks.Com', 'HarperTrophy',
       'Soho Press', 'Knopf', 'Nan A. Talese', 'Owl Books',
       'Simon Schuster Trade', 'Image', 'Houghton Mifflin Company',
       'MacMillan Publishing Company.', 'Picador USA',
       'Putnam Publishing Group', 'Random House Value Publishing',
       'Villard Books', 'Morehouse Group', 'Ecco Press',
       'White Pine Press (NY)', 'Fabbri - RCS Libri', 'Edizioni E/O',
       'Puffin', 'Saunders College Publishing', 'Houghton Mifflin',
       'Schocken Books', 'Watson-Guptill Publications',
       'Random House Canada', 'Thomas Dunne Books',
       'Little Brown &amp; Co', 'Atria Books', 'St Martins Pr',
       'Grove Press', 'WestBow Press', 'Henry Holt &amp; Company',
       'Hyperion Books', 'Thorndike Pr', 'Zebra Books',
       'Golden Books Publishing Company', 'Yearling',
       'Apple Signature (Scholastic)', 'Scholastic, Inc.', 'Golden Books',
       'Inner Ocean Publishing', "St. Martin's Minotaur",
       'Scholastic Inc', 'Albert Whitman &amp; Company', 'Broadway',
       'Putnam Pub Group (Paper)', 'Griffin Trade Paperback',
       'New Directions Publishing Corporation', 'HarperSanFrancisco',
       'Multnomah', 'Beacon Press', 'Harper Mass Market Paperbacks',
       'MacAdam/Cage Publishing', 'LGF', 'Gallimard French',
       'Livre De Poche French', 'Gallimard', 'Livre de Poche', "J'ai lu",
       'Crown', 'William Morrow &amp; Company', "Everyman's Library",
       'Harmony', 'Sourcebooks Landmark', 'Little Brown and Company',
       'Michael Joseph Ltd', 'Trafalgar Square', 'Bloomsbury Pub Ltd',
       'Penguin Putnam~trade', 'Lomond Books', "Faber Children's Books",
       'Abacus', "Michael O'Mara Books", 'Trafalgar Square Books',
       'Dargaud', 'Brockhampton Press', "Union gÃ©nÃ©rale d'Ã©ditions",
       'Canongate Books Ltd', 'Routledge', 'Firebrand Books',
       'Windstorm Creative', 'Akashic Books', 'New Amer Library',
       'Alyson Books', 'Rising Tide Press (AZ)', 'Alyson Publications',
       'Press Gang Publishers', 'Crimeline', 'Stonewall Inn Editions',
       "Random House Children's Books", 'Miramax',
       'Random House Childrens Books', 'Laurel-Leaf Books',
       'Del Sol Press', 'Wings', 'Manning Publications',
       'Ohio University Press', 'Hyperion Books for Children',
       'Magic Carpet Books', 'Pleasant Company Publications',
       'Scholastic Paperbacks', 'John F. Blair Publisher',
       'Monarch Books', 'Flammarion', 'Phoenix Books', 'Hyperion Press',
       'Cambridge University Press', 'Amereon Limited', 'Hill &amp; Wang',
       'Anchor Pub', 'Four Walls Eight Windows', 'Steeple Hill',
       'Reston Pub. Co', 'Word Publishing', "G. P. Putnam's Sons",
       'W. Morrow', 'Main Street Books', 'Random House, Inc.',
       'Adams Media Corp', 'Mysterious Press', 'Mira',
       'Harpercollins Library', 'Sagebrush Bound', 'HarperEntertainment'],
      dtype=object)

In [7]:
# Name of a Publisher is wrong 
# So Changing it to right one

In [8]:
books_for_which_genre_we_have[books_for_which_genre_we_have['Publisher']=='LÃ?Â¼bbe']

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
31,31,3404921038,Wie Barney es sieht.,Mordecai Richler,2002,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...
917,917,3404121686,Nacht Ã?Â¼ber den Wassern.,Ken Follett,1994,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404121686.0...,http://images.amazon.com/images/P/3404121686.0...,http://images.amazon.com/images/P/3404121686.0...
918,918,3404118960,Die SÃ?Â¤ulen der Erde. Roman.,Ken Follett,1992,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404118960.0...,http://images.amazon.com/images/P/3404118960.0...,http://images.amazon.com/images/P/3404118960.0...

In [9]:
books_for_which_genre_we_have.loc[books_for_which_genre_we_have['Publisher']=='LÃ?Â¼bbe','Publisher'] = 'Lübbe'

In [10]:
books_for_which_genre_we_have[books_for_which_genre_we_have['Publisher']=='Lübbe']

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
31,31,3404921038,Wie Barney es sieht.,Mordecai Richler,2002,Lübbe,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...
917,917,3404121686,Nacht Ã?Â¼ber den Wassern.,Ken Follett,1994,Lübbe,http://images.amazon.com/images/P/3404121686.0...,http://images.amazon.com/images/P/3404121686.0...,http://images.amazon.com/images/P/3404121686.0...
918,918,3404118960,Die SÃ?Â¤ulen der Erde. Roman.,Ken Follett,1992,Lübbe,http://images.amazon.com/images/P/3404118960.0...,http://images.amazon.com/images/P/3404118960.0...,http://images.amazon.com/images/P/3404118960.0...

In [11]:
books_for_which_genre_we_have[books_for_which_genre_we_have['Publisher']== "Union gÃ©nÃ©rale d'Ã©ditions"]

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
822,822,2264009306,CantilÃ¨nes en gelÃ©e ; Barnum's digest ; Ving...,Boris Vian,1978,Union gÃ©nÃ©rale d'Ã©ditions,http://images.amazon.com/images/P/2264009306.0...,http://images.amazon.com/images/P/2264009306.0...,http://images.amazon.com/images/P/2264009306.0...

In [12]:
books_for_which_genre_we_have.loc[books_for_which_genre_we_have['Publisher']=="Union gÃ©nÃ©rale d'Ã©ditions",'Publisher'] = "Union générale d'éditions"

In [13]:
books_for_which_genre_we_have[books_for_which_genre_we_have['Publisher']=="Union générale d'éditions"]

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
822,822,2264009306,CantilÃ¨nes en gelÃ©e ; Barnum's digest ; Ving...,Boris Vian,1978,Union générale d'éditions,http://images.amazon.com/images/P/2264009306.0...,http://images.amazon.com/images/P/2264009306.0...,http://images.amazon.com/images/P/2264009306.0...

# Creating Publisher Table

In [14]:
Publisher_id = list(range(1,len(books_for_which_genre_we_have['Publisher'].unique()) + 1))

In [15]:
Publisher = pd.DataFrame({'Publisher ID':Publisher_id,'Publisher Names':books_for_which_genre_we_have['Publisher'].unique()})
Publisher

     Publisher ID             Publisher Names
0               1     Oxford University Press
1               2       HarperFlamingo Canada
2               3             HarperPerennial
3               4        Farrar Straus Giroux
4               5  W. W. Norton &amp; Company
..            ...                         ...
328           329            Mysterious Press
329           330                        Mira
330           331       Harpercollins Library
331           332             Sagebrush Bound
332           333         HarperEntertainment

[333 rows x 2 columns]

In [16]:
Publisher[Publisher['Publisher Names'].str.contains('&amp;')]

     Publisher ID                                    Publisher Names
4               5                         W. W. Norton &amp; Company
19             20                      Ryland Peters &amp; Small Ltd
28             29                         Little Brown &amp; Company
51             52            Hodder &amp; Stoughton General Division
52             53              Simon &amp; Schuster (Trade Division)
75             76                          W.W. Norton &amp; Company
102           103  Droemersche Verlagsanstalt Th. Knaur Nachf., G...
104           105                           Kiepenheuer &amp; Witsch
143           144                               Simon &amp; Schuster
150           151                         Farrar Straus &amp; Giroux
157           158                                W W Norton &amp; Co
173           174                          John Wiley &amp; Sons Inc
235           236                              Little Brown &amp; Co
240           241                           Henry Holt &amp; Company
252           253                       Albert Whitman &amp; Company
269           270                       William Morrow &amp; Company
317           318                                    Hill &amp; Wang

In [17]:
books_for_which_genre_we_have[books_for_which_genre_we_have['Publisher'].str.contains('&amp;')]

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
21,21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...
36,36,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
82,82,0340767936,Turning Thirty,Mike Gayle,2000,Hodder &amp; Stoughton General Division,http://images.amazon.com/images/P/0340767936.0...,http://images.amazon.com/images/P/0340767936.0...,http://images.amazon.com/images/P/0340767936.0...
83,83,0743403843,Decipher,Stel Pavlou,2002,Simon &amp; Schuster (Trade Division),http://images.amazon.com/images/P/0743403843.0...,http://images.amazon.com/images/P/0743403843.0...,http://images.amazon.com/images/P/0743403843.0...
139,139,0393020371,Next: The Future Just Happened,Michael Lewis,2001,W.W. Norton &amp; Company,http://images.amazon.com/images/P/0393020371.0...,http://images.amazon.com/images/P/0393020371.0...,http://images.amazon.com/images/P/0393020371.0...
190,190,3426605686,Haifischfrauen.,Kiana Davenport,1996,"Droemersche Verlagsanstalt Th. Knaur Nachf., G...",http://images.amazon.com/images/P/3426605686.0...,http://images.amazon.com/images/P/3426605686.0...,http://images.amazon.com/images/P/3426605686.0...
192,192,3462021095,Schwarzer Tee mit drei StÃ¼ck Zucker,Renan Demirkan,1991,Kiepenheuer &amp; Witsch,http://images.amazon.com/images/P/3462021095.0...,http://images.amazon.com/images/P/3462021095.0...,http://images.amazon.com/images/P/3462021095.0...
291,291,0684833395,Catch 22,Joseph Heller,1996,Simon &amp; Schuster,http://images.amazon.com/images/P/0684833395.0...,http://images.amazon.com/images/P/0684833395.0...,http://images.amazon.com/images/P/0684833395.0...
301,301,0374270325,A Man in Full,Tom Wolfe,1998,Farrar Straus &amp; Giroux,http://images.amazon.com/images/P/0374270325.0...,http://images.amazon.com/images/P/0374270325.0...,http://images.amazon.com/images/P/0374270325.0...
313,313,0937858994,The What's Happening to My Body? Book for Boys...,Lynda Madaras,1987,W W Norton &amp; Co,http://images.amazon.com/images/P/0937858994.0...,http://images.amazon.com/images/P/0937858994.0...,http://images.amazon.com/images/P/0937858994.0...
352,352,0671847546,REAL GUIDE: CALIFORNIA AND THE WEST COAST (The...,LTD,1993,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/0671847546.0...,http://images.amazon.com/images/P/0671847546.0...,http://images.amazon.com/images/P/0671847546.0...
499,499,0393321576,Karl Marx: A Life,Francis Wheen,2001,W.W. Norton &amp; Company,http://images.amazon.com/images/P/0393321576.0...,http://images.amazon.com/images/P/0393321576.0...,http://images.amazon.com/images/P/0393321576.0...
503,503,0684854953,Santa Pete : A Novel Of Christmas Present And ...,Christopher Moore,1998,Simon &amp; Schuster,http://images.amazon.com/images/P/0684854953.0...,http://images.amazon.com/images/P/0684854953.0...,http://images.amazon.com/images/P/0684854953.0...
504,504,0743229878,Mount Vernon Love Story : A Novel of George an...,Mary Higgins Clark,2002,Simon &amp; Schuster,http://images.amazon.com/images/P/0743229878.0...,http://images.amazon.com/images/P/0743229878.0...,http://images.amazon.com/images/P/0743229878.0...
522,522,0393048977,Last Blue: Poems,Gerald Stern,2000,W.W. Norton &amp; Company,http://images.amazon.com/images/P/0393048977.0...,http://images.amazon.com/images/P/0393048977.0...,http://images.amazon.com/images/P/0393048977.0...
551,551,0316171107,Like a Hole in the Head,Jen Banbury,1998,Little Brown &amp; Co,http://images.amazon.com/images/P/0316171107.0...,http://images.amazon.com/images/P/0316171107.0...,http://images.amazon.com/images/P/0316171107.0...
611,611,0805056491,Organizing from the Inside Out,Julie Morgenstern,1998,Henry Holt &amp; Company,http://images.amazon.com/images/P/0805056491.0...,http://images.amazon.com/images/P/0805056491.0...,http://images.amazon.com/images/P/0805056491.0...
619,619,0743206053,Kitchen Privileges : A Memoir,Mary Higgins Clark,2002,Simon &amp; Schuster,http://images.amazon.com/images/P/0743206053.0...,http://images.amazon.com/images/P/0743206053.0...,http://images.amazon.com/images/P/0743206053.0...
647,647,0807565288,The Pet Shop Mystery (Boxcar Children Special ...,Gertrude Chandler Warner,1996,Albert Whitman &amp; Company,http://images.amazon.com/images/P/0807565288.0...,http://images.amazon.com/images/P/0807565288.0...,http://images.amazon.com/images/P/0807565288.0...
683,683,0316116025,The Pinball Effect: How Renaissance Water Gard...,James Burke,1996,Little Brown &amp; Co,http://images.amazon.com/images/P/0316116025.0...,http://images.amazon.com/images/P/0316116025.0...,http://images.amazon.com/images/P/0316116025.0...
760,760,0743206045,Daddy's Little Girl,Mary Higgins Clark,2002,Simon &amp; Schuster,http://images.amazon.com/images/P/0743206045.0...,http://images.amazon.com/images/P/0743206045.0...,http://images.amazon.com/images/P/0743206045.0...
761,761,0684864843,The Vineyard : A Novel,Barbara Delinsky,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0684864843.0...,http://images.amazon.com/images/P/0684864843.0...,http://images.amazon.com/images/P/0684864843.0...
762,762,0684867818,The Looking Glass : A Novel (The Locket Series),Richard Paul Evans,1999,Simon &amp; Schuster,http://images.amazon.com/images/P/0684867818.0...,http://images.amazon.com/images/P/0684867818.0...,http://images.amazon.com/images/P/0684867818.0...
764,764,0380978539,"Dear Stranger, Dearest Friend",Laney Katz Becker,2000,William Morrow &amp; Company,http://images.amazon.com/images/P/0380978539.0...,http://images.amazon.com/images/P/0380978539.0...,http://images.amazon.com/images/P/0380978539.0...
786,786,0684868911,The Carousel : A Novel,Richard Paul Evans,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0684868911.0...,http://images.amazon.com/images/P/0684868911.0...,http://images.amazon.com/images/P/0684868911.0...
789,789,0684864320,LAKE NEWS : A Novel,Barbara Delinsky,1999,Simon &amp; Schuster,http://images.amazon.com/images/P/0684864320.0...,http://images.amazon.com/images/P/0684864320.0...,http://images.amazon.com/images/P/0684864320.0...
803,803,0743462335,More George W. Bushisms: More Verbal Contortio...,Jacob Weisberg,2002,Simon &amp; Schuster (Trade Division),http://images.amazon.com/images/P/0743462335.0...,http://images.amazon.com/images/P/0743462335.0...,http://images.amazon.com/images/P/0743462335.0...
840,840,0393318435,Leaving Pipe Shop: Memories of Kin,Deborah McDowell,1998,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393318435.0...,http://images.amazon.com/images/P/0393318435.0...,http://images.amazon.com/images/P/0393318435.0...
868,868,0374343381,Lark in the Morning,Nancy Garden,1991,Farrar Straus &amp; Giroux,http://images.amazon.com/images/P/0374343381.0...,http://images.amazon.com/images/P/0374343381.0...,http://images.amazon.com/images/P/0374343381.0...
930,930,080901582X,The Return of Simple,Langston Hughes,1995,Hill &amp; Wang,http://images.amazon.com/images/P/080901582X.0...,http://images.amazon.com/images/P/080901582X.0...,http://images.amazon.com/images/P/080901582X.0...

In [18]:
books_for_which_genre_we_have['Publisher'] = books_for_which_genre_we_have['Publisher'].replace(regex=['&amp;'],value='&')
Publisher['Publisher Names'] = Publisher['Publisher Names'].replace(regex=['&amp;'],value='&')

In [19]:
len(books_for_which_genre_we_have['ISBN'].unique())

892

In [20]:
books_for_which_genre_we_have['ISBN'].value_counts()

0061076031    2
0821775863    1
0060575808    1
0060558865    1
0767912918    1
             ..
0449912302    1
055329198X    1
0671018930    1
0812541642    1
0446610178    1
Name: ISBN, Length: 892, dtype: int64

In [21]:
books_for_which_genre_we_have[books_for_which_genre_we_have['ISBN'] =='0061076031']

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
269336,269336,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...
269561,269561,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Ashley Olsen,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...

In [22]:
import random 
price = []
for i in range(books_for_which_genre_we_have.shape[0]):
    price.append(random.randrange(20,90,5))

In [23]:
books_for_which_genre_we_have['Price'] = price

In [24]:
books_for_which_genre_we_have[books_for_which_genre_we_have['ISBN'].duplicated()]['ISBN']

269561    0061076031
Name: ISBN, dtype: object

In [25]:
books_for_which_genre_we_have[books_for_which_genre_we_have['ISBN']  == '0061076031']

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Price
269336,269336,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,70
269561,269561,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Ashley Olsen,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,40

In [26]:
#Making sure that duplicate data have same price 
books_for_which_genre_we_have.loc[books_for_which_genre_we_have['ISBN'] == '0061076031', 'Price'] = 60

In [27]:
books_for_which_genre_we_have.loc[books_for_which_genre_we_have['ISBN'] == '0061076031', 'Price']

269336    60
269561    60
Name: Price, dtype: int64

In [28]:
books_for_which_genre_we_have

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Price
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,60
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,25
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,40
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,80
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,50
...,...,...,...,...,...,...,...,...,...,...
993,993,0765341972,The Mothman Prophecies,John A. Keel,2002,Tor Books,http://images.amazon.com/images/P/0765341972.0...,http://images.amazon.com/images/P/0765341972.0...,http://images.amazon.com/images/P/0765341972.0...,50
994,994,0590514776,Meet the Stars of Buffy the Vampire Slayer,Stefanie Scott,1998,Scholastic,http://images.amazon.com/images/P/0590514776.0...,http://images.amazon.com/images/P/0590514776.0...,http://images.amazon.com/images/P/0590514776.0...,30
995,995,0373037430,Rush to the Altar (Twin Brides),Rebecca Winters,2003,Harlequin,http://images.amazon.com/images/P/0373037430.0...,http://images.amazon.com/images/P/0373037430.0...,http://images.amazon.com/images/P/0373037430.0...,30
269336,269336,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,60
269561,269561,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Ashley Olsen,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,60

## Books Table

In [29]:
books = pd.merge(left = books_for_which_genre_we_have,right = Publisher,  left_on='Publisher', right_on='Publisher Names')

In [30]:
books = books[['ISBN','Book-Title','Year-Of-Publication','Publisher ID','Price']].copy()

In [31]:
#books['Book-Title'] = books['Book-Title'].astype('|S')

In [32]:
books['Book-Title']

0                                    Classical Mythology
1              Julius Caesar (Oxford School Shakespeare)
2                        Cranford (The World's Classics)
3      How Not to Say What You Mean: A Dictionary of ...
4                                           Clara Callan
                             ...
888                                          Final Stand
889                              Magic House of Numbers.
890                                This Present Darkness
891    Mary-Kate &amp; Ashley Switching Goals (Mary-K...
892    Mary-Kate &amp; Ashley Switching Goals (Mary-K...
Name: Book-Title, Length: 893, dtype: object

In [33]:
# books['Book-Title'][0].to_string()

In [34]:
books[books['Book-Title'].str.contains('&amp;')]

,ISBN,Book-Title,Year-Of-Publication,Publisher ID,Price
139,0449006557,Half Moon Street (Charlotte &amp; Thomas Pitt ...,2001,24,85
401,0679751343,Angels &amp; Insects : Two Novellas,1994,63,35
408,0671027360,Angels &amp; Demons,2001,67,25
545,0743486226,Angels &amp; Demons,2003,120,65
700,1567184294,The Western Mysteries: An Encyclopedic Guide t...,2000,188,30
726,0843136685,Sheldon &amp; Mrs. Levine: An Excruciating Cor...,1994,207,65
842,1563410443,"Skin: Talking About Sex, Class &amp; Literature",1994,289,40
891,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,2000,333,60
892,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,2000,333,60

In [35]:
books['Book-Title'] = books['Book-Title'].replace(regex=['&amp;'],value='&')
books[books['Book-Title'].str.contains('&amp;')]

Empty DataFrame
Columns: [ISBN, Book-Title, Year-Of-Publication, Publisher ID, Price]
Index: []

## Authors Table

In [36]:
authors = books_for_which_genre_we_have['Book-Author'].unique()
authors = pd.DataFrame(authors,columns=['Author Name'])
authors.head()

            Author Name
0    Mark P. O. Morford
1  Richard Bruce Wright
2          Carlo D'Este
3      Gina Bari Kolata
4       E. J. W. Barber

In [37]:
l = authors['Author Name'].str.split()

author_mails = []

for i in l:
    k = []
    for j in i:
        if len(j)>2:
            k.append(j)
    author_mails.append(k)

In [38]:
authors['Author Email'] = author_mails
authors['Author Email'] = authors['Author Email'].apply(lambda x: ''.join(filter(str.isalpha,x)))
authors

              Author Name        Author Email
0      Mark P. O. Morford         MarkMorford
1    Richard Bruce Wright  RichardBruceWright
2            Carlo D'Este               Carlo
3        Gina Bari Kolata      GinaBariKolata
4         E. J. W. Barber              Barber
..                    ...                 ...
677          John A. Keel            JohnKeel
678        Stefanie Scott       StefanieScott
679       Rebecca Winters      RebeccaWinters
680             Mary-Kate
681          Ashley Olsen         AshleyOlsen

[682 rows x 2 columns]

In [39]:
authors['Author Email']  = list(map(lambda a:a+'@gmail.com',authors['Author Email'] ))

In [40]:
authors['Author ID'] = list(range(1,authors.shape[0]+1))

In [41]:
zipcode = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/preprocessed_data/zip_code.csv')
zipcode['zipcode'] = zipcode['zipcode'].astype('str')
zipcode['zipcode'] =  zipcode['zipcode'].str.zfill(5)
zipcode.head()

   Unnamed: 0 zipcode        city state country
0           0   00501  Holtsville    NY      US
1           1   00544  Holtsville    NY      US
2           2   00601    Adjuntas    PR      US
3           3   00602      Aguada    PR      US
4           4   00603   Aguadilla    PR      US

In [42]:
authors['zipcode'] = list(zipcode['zipcode'].sample(authors.shape[0]))
authors

              Author Name                  Author Email  Author ID zipcode
0      Mark P. O. Morford         MarkMorford@gmail.com          1   04765
1    Richard Bruce Wright  RichardBruceWright@gmail.com          2   24265
2            Carlo D'Este               Carlo@gmail.com          3   09502
3        Gina Bari Kolata      GinaBariKolata@gmail.com          4   69020
4         E. J. W. Barber              Barber@gmail.com          5   43522
..                    ...                           ...        ...     ...
677          John A. Keel            JohnKeel@gmail.com        678   18436
678        Stefanie Scott       StefanieScott@gmail.com        679   20229
679       Rebecca Winters      RebeccaWinters@gmail.com        680   10314
680             Mary-Kate                    @gmail.com        681   99146
681          Ashley Olsen         AshleyOlsen@gmail.com        682   53547

[682 rows x 4 columns]

In [43]:
customer_mock_data = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/raw_data/customer_MOCK_DATA.csv')
customer_mock_data

,id,first_name,last_name,email,gender,phone,street
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court
...,...,...,...,...,...,...,...
995,996,Chas,Gurry,cgurryrn@washingtonpost.com,Male,490-768-9094,27 Grim Parkway
996,997,Janaya,Demko,jdemkoro@illinois.edu,Female,934-687-7376,51 Prentice Hill
997,998,Ethelin,Dorran,edorranrp@sogou.com,Female,990-455-6036,0 Vera Hill
998,999,Ludwig,Chater,lchaterrq@arizona.edu,Male,408-350-1557,4 Mockingbird Alley
999,1000,Cosetta,D'Adda,cdaddarr@hexun.com,Female,771-980-6223,33 Paget Avenue

In [44]:
customer_mock_data['street']

0       530 Mandrake Terrace
1      85267 Pine View Court
2            60 Truax Center
3         1680 Moose Terrace
4            2 Hoffman Court
               ...
995          27 Grim Parkway
996         51 Prentice Hill
997              0 Vera Hill
998      4 Mockingbird Alley
999          33 Paget Avenue
Name: street, Length: 1000, dtype: object

In [45]:
authors['Street Address'] = list(customer_mock_data['street'].sample(authors.shape[0]))
authors

,Author Name,Author Email,Author ID,zipcode,Street Address
0,Mark P. O. Morford,MarkMorford@gmail.com,1,04765,27 Riverside Avenue
1,Richard Bruce Wright,RichardBruceWright@gmail.com,2,24265,47 Kensington Court
2,Carlo D'Este,Carlo@gmail.com,3,09502,6 Bluejay Trail
3,Gina Bari Kolata,GinaBariKolata@gmail.com,4,69020,3 Harbort Place
4,E. J. W. Barber,Barber@gmail.com,5,43522,6639 Hoard Crossing
...,...,...,...,...,...
677,John A. Keel,JohnKeel@gmail.com,678,18436,50284 Badeau Court
678,Stefanie Scott,StefanieScott@gmail.com,679,20229,22 Prairie Rose Pass
679,Rebecca Winters,RebeccaWinters@gmail.com,680,10314,115 Mifflin Drive
680,Mary-Kate,@gmail.com,681,99146,22 Westport Road
681,Ashley Olsen,AshleyOlsen@gmail.com,682,53547,5382 Mccormick Trail

In [46]:
customer_mock_data.sample(100)

,id,first_name,last_name,email,gender,phone,street
910,911,Mair,Van der Velden,mvanderveldenpa@ning.com,Female,140-292-2591,1185 Fairview Point
873,874,Nolan,Aland,nalando9@trellian.com,Male,828-265-6829,74332 Scoville Lane
252,253,Bay,Summerrell,bsummerrell70@blogs.com,Male,935-166-0527,6 Bobwhite Plaza
278,279,Bradley,Triggel,btriggel7q@soundcloud.com,Male,798-404-1283,77 Kingsford Crossing
95,96,Alexandrina,Blackledge,ablackledge2n@addthis.com,Female,952-255-5644,27581 Lake View Court
...,...,...,...,...,...,...,...
826,827,Hester,Stendall,hstendallmy@furl.net,Female,821-936-7703,76170 Meadow Vale Pass
963,964,Wyndham,Donat,wdonatqr@si.edu,Male,623-218-9794,003 Veith Road
812,813,Euphemia,Cherrett,echerrettmk@i2i.jp,Female,563-843-3639,439 Bayside Center
154,155,Reinold,Merali,rmerali4a@163.com,Male,449-467-6651,5981 Muir Park
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court

In [47]:
Publisher

     Publisher ID          Publisher Names
0               1  Oxford University Press
1               2    HarperFlamingo Canada
2               3          HarperPerennial
3               4     Farrar Straus Giroux
4               5   W. W. Norton & Company
..            ...                      ...
328           329         Mysterious Press
329           330                     Mira
330           331    Harpercollins Library
331           332          Sagebrush Bound
332           333      HarperEntertainment

[333 rows x 2 columns]

In [48]:
Publisher['office Address'] = list(customer_mock_data['street'].sample(Publisher.shape[0]))
Publisher['zipcode'] = list(zipcode['zipcode'].sample(Publisher.shape[0]))
Publisher

     Publisher ID          Publisher Names           office Address zipcode
0               1  Oxford University Press        38719 Fulton Pass   12515
1               2    HarperFlamingo Canada         24779 Leroy Lane   99781
2               3          HarperPerennial       8649 Barnett Court   08340
3               4     Farrar Straus Giroux           7 David Street   85741
4               5   W. W. Norton & Company      9195 Barby Crossing   49858
..            ...                      ...                      ...     ...
328           329         Mysterious Press  69223 Bobwhite Junction   10075
329           330                     Mira          16 Drewry Plaza   40422
330           331    Harpercollins Library     86871 Stephen Street   55603
331           332          Sagebrush Bound           3005 Iowa Park   62525
332           333      HarperEntertainment          405 Melby Plaza   01824

[333 rows x 4 columns]

## Store

In [49]:
store = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/raw_data/Store_MOCK_DATA.csv')
store.head()

   id                 Address
0   1         3 Canary Avenue
1   2     3218 Arrowood Plaza
2   3        816 8th Crossing
3   4  74984 Onsgard Junction
4   5   52200 Lillian Parkway

In [50]:
store['zipcode'] = list(zipcode['zipcode'].sample(store.shape[0]))
store

       id                 Address zipcode
0       1         3 Canary Avenue   21857
1       2     3218 Arrowood Plaza   70711
2       3        816 8th Crossing   84791
3       4  74984 Onsgard Junction   44681
4       5   52200 Lillian Parkway   98138
..    ...                     ...     ...
995   996        83015 Almo Plaza   57481
996   997         495 7th Parkway   51355
997   998        6 Reindahl Point   49622
998   999            42 Sage Hill   21872
999  1000   45 Armistice Crossing   78833

[1000 rows x 3 columns]

# Converting Publisher, Authors and Books Table into csv

In [51]:
Publisher.head()

   Publisher ID          Publisher Names       office Address zipcode
0             1  Oxford University Press    38719 Fulton Pass   12515
1             2    HarperFlamingo Canada     24779 Leroy Lane   99781
2             3          HarperPerennial   8649 Barnett Court   08340
3             4     Farrar Straus Giroux       7 David Street   85741
4             5   W. W. Norton & Company  9195 Barby Crossing   49858

In [52]:
l = Publisher['Publisher Names'].str.split()
l
Publisher_mails = []

for i in l:
    k = []
    for j in i:
        if len(j)>2:
            k.append(j)
    Publisher_mails.append(k)
    
Publisher['Publisher Email'] = Publisher_mails
Publisher['Publisher Email'] = Publisher['Publisher Email'].apply(lambda x: ''.join(filter(str.isalpha,x)))
Publisher['Publisher Email']   = list(map(lambda a:a+'@gmail.com',Publisher['Publisher Email']  ))

Publisher

,Publisher ID,Publisher Names,office Address,zipcode,Publisher Email
0,1,Oxford University Press,38719 Fulton Pass,12515,OxfordUniversityPress@gmail.com
1,2,HarperFlamingo Canada,24779 Leroy Lane,99781,HarperFlamingoCanada@gmail.com
2,3,HarperPerennial,8649 Barnett Court,08340,HarperPerennial@gmail.com
3,4,Farrar Straus Giroux,7 David Street,85741,FarrarStrausGiroux@gmail.com
4,5,W. W. Norton & Company,9195 Barby Crossing,49858,NortonCompany@gmail.com
...,...,...,...,...,...
328,329,Mysterious Press,69223 Bobwhite Junction,10075,MysteriousPress@gmail.com
329,330,Mira,16 Drewry Plaza,40422,Mira@gmail.com
330,331,Harpercollins Library,86871 Stephen Street,55603,HarpercollinsLibrary@gmail.com
331,332,Sagebrush Bound,3005 Iowa Park,62525,SagebrushBound@gmail.com
332,333,HarperEntertainment,405 Melby Plaza,01824,HarperEntertainment@gmail.com

In [53]:
Publisher = Publisher[['Publisher ID', 'Publisher Names','Publisher Email','office Address','zipcode']].copy()
Publisher

,Publisher ID,Publisher Names,Publisher Email,office Address,zipcode
0,1,Oxford University Press,OxfordUniversityPress@gmail.com,38719 Fulton Pass,12515
1,2,HarperFlamingo Canada,HarperFlamingoCanada@gmail.com,24779 Leroy Lane,99781
2,3,HarperPerennial,HarperPerennial@gmail.com,8649 Barnett Court,08340
3,4,Farrar Straus Giroux,FarrarStrausGiroux@gmail.com,7 David Street,85741
4,5,W. W. Norton & Company,NortonCompany@gmail.com,9195 Barby Crossing,49858
...,...,...,...,...,...
328,329,Mysterious Press,MysteriousPress@gmail.com,69223 Bobwhite Junction,10075
329,330,Mira,Mira@gmail.com,16 Drewry Plaza,40422
330,331,Harpercollins Library,HarpercollinsLibrary@gmail.com,86871 Stephen Street,55603
331,332,Sagebrush Bound,SagebrushBound@gmail.com,3005 Iowa Park,62525
332,333,HarperEntertainment,HarperEntertainment@gmail.com,405 Melby Plaza,01824

In [54]:
Publisher.dtypes

Publisher ID        int64
Publisher Names    object
Publisher Email    object
office Address     object
zipcode            object
dtype: object

In [55]:
zipcode.dtypes

Unnamed: 0     int64
zipcode       object
city          object
state         object
country       object
dtype: object

In [56]:
Publisher.dtypes

Publisher ID        int64
Publisher Names    object
Publisher Email    object
office Address     object
zipcode            object
dtype: object

In [57]:
for col in Publisher.columns[1:]:
    print(Publisher[Publisher[col].str.contains('\n')][col])

Series([], Name: Publisher Names, dtype: object)
Series([], Name: Publisher Email, dtype: object)
Series([], Name: office Address, dtype: object)
Series([], Name: zipcode, dtype: object)

In [58]:
#Publisher.to_csv('Publisher.csv',index=False)

In [59]:
Publisher['zipcode'].unique()

array(['12515', '99781', '08340', '85741', '49858', '73738', '62263',
       '55920', '58107', '30390', '66532', '30164', '63044', '36101',
       '98547', '31409', '50625', '40464', '72222', '14009', '77706',
       '70804', '83635', '61048', '28608', '54645', '70726', '72370',
       '74446', '83324', '32799', '28429', '98471', '95480', '04347',
       '54643', '62245', '13905', '13668', '41039', '61484', '37019',
       '22488', '94801', '45069', '76629', '65302', '60696', '39060',
       '19012', '00704', '06111', '74115', '88210', '16929', '20215',
       '34285', '36104', '71237', '94063', '68870', '43449', '45112',
       '18219', '62202', '78589', '29741', '27311', '61330', '16657',
       '77805', '52253', '23662', '99155', '82324', '56761', '01586',
       '75482', '47949', '27928', '65067', '57268', '55565', '61630',
       '66757', '38565', '30206', '19086', '41043', '32856', '42338',
       '59345', '50304', '95678', '19082', '44506', '43567', '23357',
       '29526', '67654', '74557', '92506', '33929', '04343', '47424',
       '26230', '79107', '70055', '79093', '38505', '32092', '37315',
       '15228', '30066', '54303', '70711', '74643', '29518', '77428',
       '45114', '96215', '99022', '52057', '45207', '52401', '54129',
       '04457', '48624', '65664', '87011', '97118', '06854', '16025',
       '30552', '49071', '66833', '96622', '71414', '15143', '55312',
       '09564', '28002', '45699', '95776', '97630', '23517', '83704',
       '79836', '99706', '60490', '70150', '43543', '98375', '04846',
       '94128', '55972', '65050', '97336', '65076', '05544', '98042',
       '17583', '21120', '37733', '48929', '62910', '56964', '77396',
       '56999', '70172', '75904', '16837', '11054', '58652', '54104',
       '24517', '66861', '19716', '90814', '34952', '13071', '93202',
       '84005', '31321', '18081', '56123', '09739', '92109', '63846',
       '49931', '34448', '60111', '79072', '17752', '74051', '31830',
       '60688', '60482', '13316', '56750', '31408', '99694', '48131',
       '21261', '56356', '38839', '98110', '94252', '72802', '75261',
       '85748', '20060', '21228', '28673', '25880', '29161', '28626',
       '91042', '82712', '77665', '99302', '77879', '83716', '24556',
       '41408', '12903', '33406', '54737', '47654', '09557', '35007',
       '98070', '94080', '96782', '24945', '47404', '69171', '66865',
       '38850', '22851', '75423', '11901', '43906', '36349', '49806',
       '03304', '18603', '73766', '91947', '26531', '95697', '25705',
       '30807', '30236', '07069', '45673', '63770', '28570', '59732',
       '12848', '25339', '55803', '08502', '26202', '31545', '00840',
       '00956', '95946', '35036', '85020', '04210', '08087', '77044',
       '28018', '32950', '85636', '74558', '26147', '55166', '94250',
       '65724', '09813', '27050', '48182', '30265', '13833', '94948',
       '68724', '15359', '28021', '72029', '67423', '08833', '91945',
       '23602', '73553', '25420', '50312', '10133', '71960', '33707',
       '98015', '78402', '15428', '14716', '91330', '44641', '22158',
       '97342', '46180', '47611', '62656', '30394', '64037', '55709',
       '95103', '14815', '76654', '75507', '80274', '07719', '19002',
       '12024', '67065', '71859', '01227', '09771', '95832', '10075',
       '40422', '55603', '62525', '01824'], dtype=object)

In [60]:
zipcode['zipcode'] = zipcode['zipcode'].astype('str')
zipcode['zipcode'] =  zipcode['zipcode'].str.zfill(5)

In [61]:
zipcode

       Unnamed: 0 zipcode         city state country
0               0   00501   Holtsville    NY      US
1               1   00544   Holtsville    NY      US
2               2   00601     Adjuntas    PR      US
3               3   00602       Aguada    PR      US
4               4   00603    Aguadilla    PR      US
...           ...     ...          ...   ...     ...
42283       42730   99926   Metlakatla    AK      US
42284       42731   99927  Point Baker    AK      US
42285       42732   99928    Ward Cove    AK      US
42286       42733   99929     Wrangell    AK      US
42287       42734   99950    Ketchikan    AK      US

[42288 rows x 5 columns]

In [62]:
#zipcode.to_csv('zipcode.csv',index=False)

In [63]:
authors.head()
#authors.to_csv('authors.csv')

,Author Name,Author Email,Author ID,zipcode,Street Address
0,Mark P. O. Morford,MarkMorford@gmail.com,1,04765,27 Riverside Avenue
1,Richard Bruce Wright,RichardBruceWright@gmail.com,2,24265,47 Kensington Court
2,Carlo D'Este,Carlo@gmail.com,3,09502,6 Bluejay Trail
3,Gina Bari Kolata,GinaBariKolata@gmail.com,4,69020,3 Harbort Place
4,E. J. W. Barber,Barber@gmail.com,5,43522,6639 Hoard Crossing

In [64]:
books
#books.to_csv('books.csv',index=False)

,ISBN,Book-Title,Year-Of-Publication,Publisher ID,Price
0,0195153448,Classical Mythology,2002,1,60
1,0198320264,Julius Caesar (Oxford School Shakespeare),2001,1,40
2,0192815318,Cranford (The World's Classics),1982,1,25
3,0198604025,How Not to Say What You Mean: A Dictionary of ...,2003,1,20
4,0002005018,Clara Callan,2001,2,25
...,...,...,...,...,...
888,1551668785,Final Stand,2002,330,65
889,0381999866,Magic House of Numbers.,1974,331,70
890,061312975X,This Present Darkness,1999,332,40
891,0061076031,Mary-Kate & Ashley Switching Goals (Mary-Kate ...,2000,333,60
892,0061076031,Mary-Kate & Ashley Switching Goals (Mary-Kate ...,2000,333,60

In [65]:
#store.to_csv('store.csv')

In [66]:
list(books['Book-Title'])

['Classical Mythology',
 'Julius Caesar (Oxford School Shakespeare)',
 "Cranford (The World's Classics)",
 'How Not to Say What You Mean: A Dictionary of Euphemisms (Oxford Paperback Reference S.)',
 'Clara Callan',
 'Decision in Normandy',
 'Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It',
 'The Year They Burned the Books',
 'The Mummies of Urumchi',
 'Leaving Pipe Shop: Memories of Kin',
 "The Kitchen God's Wife",
 'The Cat Who Came to Breakfast (Cat Who... (Hardcover))',
 "The Cat Who Wasn't There",
 'Sudden Mischief (Spenser Mysteries (Hardcover))',
 "What If?: The World's Foremost Military Historians Imagine What Might Have Been",
 'Chocolate Jesus',
 'Isle of Dogs',
 'Purity in Death',
 'Breathing Lessons',
 'The Sum of All Fears',
 'Only Love (Magical Love)',
 'The Hunt for Red October',
 'Thieves of Light (Photon : the Ultimate Game on Planet Earth)',
 "Sophie's World: A Novel About the History of Philosophy (Berkeley Signature Edition)",
 'Kick Ass: Selected Columns of Carl Hiaasen',
 'Strangers',
 'Chosen Prey',
 'Abduction',
 'The River King',
 'Expecting Adam: A True Story of Birth, Rebirth, and Everyday Magic',
 'Waking the Dead',
 'Big Trouble',
 'The Funhouse',
 'Titan',
 'Net Force',
 'Patriot Games',
 'Toxin',
 'PLEADING GUILTY',
 'Under the Black Flag: The Romance and the Reality of Life Among the Pirates',
 'The yawning heights',
 'The Right Man : The Surprise Presidency of George W. Bush',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'Care Packages : Letters to Christopher Reeve from Strangers and Other Friends',
 "Wouldn't Take Nothing for My Journey Now",
 'The Reader',
 'Billy Bathgate',
 "Where You'll Find Me: And Other Stories",
 'OUT OF THE SILENT PLANET',
 'Tis : A Memoir',
 'ALL THAT REMAINS',
 'The SKULL BENEATH THE SKIN',
 'REEF',
 "Angela's Ashes: A Memoir",
 'OLD MAN AND THE SEA',
 "He Sees You When You're Sleeping : A Novel",
 'Dreamcatcher',
 'Nights Below Station Street',
 "Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust",
 'The Middle Stories',
 "A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)",
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 'The Witchfinder (Amos Walker Mystery Series)',
 'More Cunning Than Man: A Social History of Rats and Man',
 'The Testament',
 'This Year It Will Be Different: And Other Stories',
 'The Street Lawyer',
 'The Touch of Your Shadow, the Whisper of Your Name (Babylon 5, Book 5)',
 'Confessions of a Shopaholic',
 'October Sky: A Memoir',
 'Black and Blue',
 'Echoes',
 'DREAMSNAKE',
 'A Time to Kill',
 'Golden Cup',
 'Beloved (Plume Contemporary Fiction)',
 "Our Dumb Century: The Onion Presents 100 Years of Headlines from America's Finest News Source",
 'The Great Depression : America 1929-1941',
 'New Vegetarian: Bold and Beautiful Recipes for Every Occasion',
 "Tell Me This Isn't Happening",
 "Clifford's Sports Day",
 'I Spy: A Book of Picture Riddles',
 'I Spy Spooky Night: A Book of Picture Riddles (I Spy Books)',
 'The Teacher from the Black Lagoon',
 "Horus's Horrible Day (First Graders from Mars)",
 'Ralph S. Mouse',
 'You Be the Jury #02',
 'The Hork-Bajir Chronicles (Animorphs Series)',
 'Circles in the Stream (Avalon: Web of Magic, 1)',
 'All That Glitters (Avalon, 2)',
 'Cry of the Wolf (Avalon, 3)',
 'Meet the Stars of Buffy the Vampire Slayer',
 'Flood : Mississippi 1927',
 'EYE ON CRIME: HARDY BOYS #153',
 'Skin And Bones',
 "Rosie'S Walk",
 'Sunwing (Aladdin Fantasy)',
 "Caddie Woodlawn - Newbery Promo '99 (Aladdin Fiction)",
 "The Janitor's Boy",
 'Hound of the Baskervilles (Aladdin Classics)',
 'Wild Animus',
 'Airframe',
 'Timeline',
 'Seabiscuit: An American Legend',
 'The Dragons of Eden: Speculations on the Evolution of Human Intelligence',
 'Seabiscuit',
 "If I Ever Get Back to Georgia, I'm Gonna Nail My Feet to the Ground",
 'Private Screening',
 'Congo',
 'Protect and Defend',
 'The Tall Pine Polka',
 'Manhattan Hunt Club',
 "Patty Jane's House of Curl (Ballantine Reader's Circle)",
 'Secret History',
 'The Battle for God',
 'A Small Dark Place',
 'Dave Barry in Cyberspace',
 'Last Chance to See',
 "Horse Heaven (Ballantine Reader's Circle)",
 'Centaur Aisle',
 'Crewel Lye',
 'A Widow for One Year',
 'Househusband',
 'Diet for a Poisoned Planet: How to Choose Safe Foods for You and Your Family',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'Summer Island',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Mummy or Ramses the Damned',
 "Her Mother's Daughter",
 'Missing Susan',
 'Rainbow the Stormy Life of Judy Garland',
 'Easy Travel to Other Planets',
 'My Name Is Asher Lev',
 'Out of the Blue',
 'Slow River',
 'Saving Grace',
 "Ufos, JFK and Elvis: Conspiracies You Don't Have to Be Crazy to Believe",
 'Mostly Harmless',
 "The Hitchhiker's Guide to the Galaxy",
 'Half Moon Street (Charlotte & Thomas Pitt Novels (Paperback))',
 'No Safe Place',
 'Prague : A Novel',
 'Wie Barney es sieht.',
 'Nacht Ã?Â¼ber den Wassern.',
 'Die SÃ?Â¤ulen der Erde. Roman.',
 'Sturmzeit. Roman.',
 'Der FÃ?Â¼rst der Finsternis. Roman.',
 'Lying Awake',
 'Memoirs of a Geisha',
 "Nicholas Nickleby (Everyman's Library)",
 'Dark Lady',
 'All the Pretty Horses (Border Trilogy, Vol 1)',
 'To Kill a Mockingbird',
 'Pigs in Heaven',
 'Standing Firm: A Vice-Presidential Memoir',
 'Interesting Times: A Novel of Discworld',
 'Your Erroneous Zones',
 'Why Do Clocks Run Clockwise? and Other Imponderables: Mysteries of Everyday Life Explained',
 "Miss Zukas and the Raven's Dance",
 'Rebecca',
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'The Elusive Flame',
 'Babyhood',
 'Liberty Falling (Anna Pigeon Mysteries (Paperback))',
 'The Ladies of Missalonghi',
 'Jonathan Livingston Seagull',
 'The Right Hand of Amon',
 'Milk and Honey (Peter Decker/Rina Lazarus Novels)',
 'Ella Enchanted (rack)',
 'Circle of Three #12: Written in the Stars (Circle of Three)',
 'Awakening',
 'Lord of the Silent: A Novel of Suspense',
 'Pride and Prejudice',
 'Getting Well Again',
 "McDonald's: Behind the Arches",
 'Wolf Moon',
 'The Robber Bride',
 'The Scarlet Letter',
 'Dragonsong (Harper Hall Trilogy)',
 'The Face',
 'RUSSIA HOUSE, THE',
 'Chopping Spree',
 'Guilty as Sin',
 'Night Sins',
 'The Next Accident',
 'West of Dodge: Frontier Stories',
 'SLEEPING MURDER',
 'Wuthering Heights',
 'Downtown',
 'Coyote Waits (Joe Leaphorn/Jim Chee Novels)',
 'Moving Pictures (Discworld Novels (Paperback))',
 'The Perfect Storm : A True Story of Men Against the Sea',
 'Florida Road Kill: A Novel',
 'The Fly on the Wall',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Final Appeal',
 'Icebound',
 'From the Corner of His Eye',
 'Dead Aim',
 'Whisper of Evil (Hooper, Kay. Evil Trilogy.)',
 'The Patient',
 'Eva Luna',
 'Cloud Nine',
 'An Inconvenient Woman',
 'Brazen Virtue',
 "Robert's Rules of Order",
 'Hiding in the Shadows (Shadows Trilogy (Paperback))',
 "Bloodlines (Dog Lover's Mysteries)",
 "Hen's Teeth",
 'The Hutt Gambit (Star Wars: The Han Solo Trilogy, Vol. 2)',
 "I'll Be Seeing You",
 'LONESOME DOVE',
 'Bless The Beasts And Children : Bless The Beasts And Children',
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 'The Girl Who Loved Tom Gordon',
 'Before I Say Good-Bye',
 "The Hitchhiker's Guide to the Galaxy",
 'Postmortem (Kay Scarpetta Mysteries (Paperback))',
 'Deception Point',
 'The War in Heaven (Eternal Warriors)',
 'The Music Box',
 'Lake News',
 'Moonlight Becomes You',
 "She's Come Undone (Oprah's Book Club)",
 'The First Wives Club Movie Tie In',
 'The Shining',
 'Shock Wave (Dirk Pitt Adventures (Paperback))',
 'While My Pretty One Sleeps',
 'The Second Time Around : A Novel',
 'And Never Let Her Go : Thomas Capano: The Deadly Seducer',
 'HIS LITTLE WOMEN : HIS LITTLE WOMEN',
 'Someone to Watch Over Me : A Novel',
 "Pourquoi j'ai mangÃ?Â© mon pÃ?Â¨re",
 "Voyage d'une parisienne Ã?Â\xa0 Lhassa",
 'LONG DARK TEA TIME OF THE SOUL',
 'Tender Triumph (Sonnet Books)',
 'Border Bride',
 'Proxies',
 'Waiting',
 'The Adventures of Tom Sawyer',
 'Selected Poems of Emily Dickinson',
 'Sacred Ground',
 'Burning Water (Burning Water)',
 'Children of the Night',
 'People of the Wolf (The First North Americans series, Book 1)',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'The Mothman Prophecies',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)",
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'The Promise Remains',
 'Love, Medicine and Miracles',
 'Thief of Time',
 'Bel Canto',
 'The Night Listener',
 'One Heart',
 "All the King's Men",
 'Life of Pi',
 'My Father, Dancing (Harvest Book)',
 'Strange Fits of Passion: A Novel',
 'A Soldier of the Great War',
 'Cybill Disobedience: How I Survived Beauty Pageants, Elvis, Sex, Bruce Willis, Lies, Marriage, Motherhood, Hollywood, and the Irrepressible Urge to Say What I Think',
 'Shabanu: Daughter of the Wind (Border Trilogy)',
 'Haveli (Laurel Leaf Books)',
 'The Ruby in the Smoke (Sally Lockhart Trilogy, Book 1)',
 'Lena (50 State Quarters)',
 'The Joy Luck Club',
 'Heart of Darkness (Wordsworth Collection)',
 "Tess of the D'Urbervilles (Wordsworth Classics)",
 'Far from the Madding Crowd (Wordsworth Classics)',
 'War and Peace (Wordsworth Classics)',
 'The Angel Is Near',
 'Fast Women',
 'Female Intelligence',
 'Blood Oath',
 'The Wind in the Willows',
 'Neanderthal: A Novel',
 'Digital Fortress : A Thriller',
 'The Florence King Reader',
 'The Nanny Diaries: A Novel',
 'The Accidental Virgin',
 'Petals on the River',
 'The Dominant Blonde',
 'For Better, for Worse: A Novel',
 'The Tao of Pooh',
 'Snow Angels',
 'The Secret Life of Bees',
 'The Tortilla Curtain',
 "The Deep End of the Ocean (Oprah's Book Club)",
 "The Girls' Guide to Hunting and Fishing",
 'Icy Sparks',
 'Blue Heaven (Contemporary American Fiction S.)',
 'The Prince',
 'The Pillars of the Earth',
 'The Short Forever',
 'Lady in Green/Minor Indiscretions (Signet Regency Romance)',
 'Scarlet Letter',
 'Pen Pals',
 'Pet Sematary',
 'Silent Snow',
 'The Crystal Handbook',
 'Light a Penny Candle',
 'Turn of the Screw and Short N',
 'Back Roads',
 'Primal Scream',
 'The Rosewood Casket',
 'Saving Private Ryan: A Novel',
 'Voice of the Eagle',
 'The Door to December',
 'The Door to December',
 'The Dead Zone',
 'On Secret Service',
 'A Palette for Murder: Murder She Wrote (Murder She Wrote (Paperback))',
 'Thorns of Truth',
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Starship Troopers',
 'Black Beauty (Illustrated Classics)',
 'Modern Manners: An Etiquette Book for Rude People',
 'Old Flames',
 'Turning Thirty',
 'Decipher',
 "More George W. Bushisms: More Verbal Contortions from America's 43rd President",
 'My First Cousin Once Removed: Money, Madness, and the Family of Robert Lowell',
 'One Hundred Years of Solitude',
 'Little Altars Everywhere: A Novel',
 'The God of Small Things',
 'My Friend Flicka',
 'The Adrian Mole Diaries : The Secret Diary of Adrian Mole, Aged 13 3/4 : The Growing Pains of Adrian Mole',
 'The Perfect Storm : A True Story of Men Against the Sea',
 "Vinegar Hill (Oprah's Book Club (Paperback))",
 'Blackberry Wine : A Novel',
 'Lakota Woman',
 'Homeland and Other Stories',
 'A Suitable Boy : Novel, A',
 'Daughter of Fortune',
 'Sweet Hereafter Movie Tie-In : A Novel',
 'In Country RI',
 "We Are Our Mothers' Daughters",
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'The Bell Jar : A Novel (Perennial Classics)',
 'Someone to Watch Over Me : Stories',
 'Rule of the Bone : Novel, A',
 'stardust',
 'Daybreakers Louis Lamour Collection',
 'Sun Signs',
 'The Catcher in the Rye',
 'The Big Bad Wolf: A Novel',
 'Four Blind Mice',
 'The Weight of Water',
 'The Lovely Bones: A Novel',
 'The True and Outstanding Adventures of the Hunt Sisters: A Novel',
 "The Pilot's Wife : A Novel Tag: Author of the Weight of Water (Oprah's Book Club (Hardcover))",
 "Suzanne's Diary for Nicholas",
 '2nd Chance',
 'El Senor De Los Anillos: LA Comunidad Del Anillo (Lord of the Rings (Spanish))',
 'El Senor De Los Anillos: Las DOS Torres (Lord of the Rings (Paperback))',
 'El Senor De Los Anillos: El Retorno Del Rey (Tolkien, J. R. R. Lord of the Rings. 3.)',
 'Veronika Deschliesst Zu Sterben / Vernika Decides to Die',
 'Mientras Escribo',
 "Pasquale's Nose: Idle Days in an Italian Town",
 'The Gospel of Judas: A Novel',
 'All He Ever Wanted: A Novel',
 'The Lovely Bones',
 'Sarah Conley',
 'Me Talk Pretty One Day',
 "Prize Stories, 1987: The O'Henry Awards",
 'The King of Torts',
 'The Firm',
 'The Client',
 'The Street Lawyer',
 'The Chamber',
 'The Partner',
 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
 'The Testament',
 'Rich Dad, Poor Dad: What the Rich Teach Their Kids About Money--That the Poor and Middle Class Do Not!',
 'The Alibi',
 'The Beach House',
 'A Kiss Remembered',
 'Slow Waltz in Cedar Bend',
 'Puerto Vallarta Squeeze',
 'Wish You Well',
 'The Rescue',
 'Killer Market (Deborah Knott Mysteries (Paperback))',
 'The Sky Is Falling',
 'Daisy Fay and the Miracle Man',
 'Along Came a Spider (Alex Cross Novels)',
 'Simple Abundance:  A Daybook of Comfort and Joy',
 'A Call to Conscience : The Landmark Speeches of Dr. Martin Luther King, Jr.',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'The Rescue',
 'Message in a Bottle',
 'The Guardian',
 'Nights in Rodanthe',
 'The Beans of Egypt, Maine',
 'Chasing the Dime',
 'The Stars Shine Down',
 "Creating Wealth : Retire in Ten Years Using Allen's Seven Principles of Wealth!",
 'Love, Miracles, and Animal Healing : A heartwarming look at the spiritual bond between animals and humans',
 'George W. Bushisms : The Slate Book of The Accidental Wit and Wisdom of our 43rd President',
 "Corelli's Mandolin : A Novel",
 'Plainsong (Vintage Contemporaries)',
 'Angels & Insects : Two Novellas',
 'The Game of Kings (Lymond Chronicles, 1)',
 'The Five People You Meet in Heaven',
 'A Monk Swimming',
 'The Diary of Ellen Rimbauer: My Life at Rose Red',
 'Tu Nombre Escrito En El Agua (La Sonrisa Vertical)',
 'Relics (Star Trek: The Next Generation)',
 'Angels & Demons',
 'The Snow Garden',
 'The Mosquito Coast',
 "The Kingdom: Arabia and the House of Sa'Ud",
 'Postmortem',
 'Eyeshot',
 'Amanda Miranda',
 "If Love Were Oil, I'd Be About a Quart Low",
 'The Hunted',
 'No Shirt, No Shoes, No Problem!',
 'Goodbye, My Little Ones: The True Story of a Murderous Mother and Five Innocent Victims',
 'Hush',
 'Making Minty Malone',
 'The Blue Last: A Richard Jury Mystery (Richard Jury Mysteries (Paperback))',
 'Bringing Down the House: The Inside Story of Six M.I.T. Students Who Took Vegas for Millions',
 'I And Thou',
 'The Secret Lives of Girls: What Good Girls Really Do--Sex Play, Aggression, and Their Guilt',
 'The Oneprince (The Redaemian Chronicles, Book 1)',
 'O Deus Das Pequenas Coisas',
 'Twenty Minute Retreats: Revive Your Spirits in Just Minutes a Day (A Pan Self-discovery Title)',
 'Atonement : A Novel',
 "The Kalahari Typing School for Men (No. 1 Ladies' Detective Agency)",
 "How the Irish Saved Civilization: The Untold Story of Ireland's Heroic Role from the Fall of Rome to the Rise of Medieval Europe (Hinges of History)",
 'Three Junes',
 'Not a Day Goes By : A Novel',
 'Next: The Future Just Happened',
 'Karl Marx: A Life',
 'Last Blue: Poems',
 'The Angelic Darkness',
 'The Soulbane Stratagem',
 'Gangster',
 'Danger',
 'Proof',
 'Life Before Man',
 'Murder at the Kennedy Center (Capital Crime Mysteries)',
 'The Tightrope Walker',
 'If Ever I Return, Pretty Peggy-O',
 'The Amazing Mrs. Pollifax',
 "Davita's Harp",
 'The Book of Lights',
 'The Grass Is Always Greener over the Septic Tank',
 'All the Days of My Life',
 'Murder at the Library of Congress (Capital Crimes (Paperback))',
 'Temor y Temblor',
 'Estudios sobre el amor',
 'Diary of a Mad Mom-To-Be',
 'Crow Lake (Today Show Book Club #7)',
 'Kissing in Manhattan',
 'Charming Billy',
 'Locked in Time (Laurel Leaf Books)',
 'The Giver (21st Century Reference)',
 'Contact',
 'The Brimstone Wedding',
 'Mansfield Park (Penguin Popular Classics)',
 'Sense and Sensibility (Penguin Popular Classics)',
 'Of Mice and Men (Steinbeck "Essentials")',
 'Scottish Folk and Fairy Tales (Penguin Popular Classics)',
 'The Catswold Portal',
 'Cold Iron',
 'The Forest House',
 "Through Wolf's Eyes (Wolf)",
 'Tree Grows In Brooklyn',
 'He Understanding Masculine Psychology',
 'My Antonia',
 'Almost: A Novel',
 'Seven Moves',
 "Bridget Jones's Diary",
 'Pride and Prejudice (Dover Thrift Editions)',
 'Frankenstein (Dover Thrift Editions)',
 'The Country of the Pointed Firs (Dover Thrift Editions)',
 'Early Poems (Dover Thrift Editions)',
 'The Rime of the Ancient Mariner and Other Poems',
 'The Prince (Dover Thrift Editions)',
 'LAW OF THE JUNGLE (HARDY BOYS CASE FILE 105) : LAW OF THE JUNGLE (Hardy Boys, The)',
 "If Singleness Is a Gift, What's the Return Policy?",
 "Always Daddy's Girl: Understanding Your Father's Impact on Who You Are",
 'Night Mare (Xanth Novels (Paperback))',
 "The King of Elfland's Daughter (Del Rey Impact)",
 'Dragonflight (Dragonriders of Pern Trilogy (Paperback))',
 'Last Sword of Power (Stones of Power)',
 'The Scions of Shannara (Heritage of Shannara (Paperback))',
 'A Man Rides Through (Man Rides Through)',
 'Dark Tide I: Onslaught (Star Wars: The New Jedi Order, Book 2)',
 'The Martian Chronicles',
 'Kabale Und Liebe',
 'Der illustrierte Mann. ErzÃ?Â¤hlungen.',
 'Das BÃ?Â¶se kommt auf leisen Sohlen.',
 'Der KÃ?Â¶nig in Gelb.',
 'Die Mars- Chroniken. Roman in ErzÃ?Â¤hlungen.',
 'LÃ?Â¶wenzahnwein. Roman.',
 'Das Kind von morgen. ErzÃ?Â¤hlungen.',
 'Die Mechanismen der Freude. ErzÃ?Â¤hlungen.',
 'Familientreffen. ErzÃ?Â¤hlungen.',
 'Der Tod kommt schnell in Mexico. ErzÃ?Â¤hlungen.',
 'Die zwei Gesichter des Januars.',
 'Fahrenheit 451',
 'Le Grand Meaulnes (Classiques De Poche)',
 "L'Homme Qui Plantait Des Arbres",
 'Die Liebe in Den Zelten',
 'Die Klone der Joanna May. Roman.',
 'Ist mein Hintern wirklich so dick? Tagebuch einer empfindsamen Frau.',
 'Haifischfrauen.',
 'Die Cappuccino- Jahre. Aus dem Tagebuch des Adrian Mole.',
 'Schwarzer Tee mit drei StÃ¼ck Zucker',
 'QuerschÃ?Â¼sse - Downsize This!',
 'Die Entdeckung der Langsamkeit.',
 'Die Korrekturen.',
 'Neun ErzÃ?Â¤hlungen.',
 'Hebt den Dachbalken hoch, Zimmerleute / Seymour wird vorgestellt.',
 'Ulysses (Ã?Â?bersetzg. WollschlÃ?Â¤ger). ( Neue Folge, 100).',
 'Eine ganz normale AffÃ?Â¤re.',
 'Das Intimleben des Adrian Mole, 13 3/4 Jahre. cbt. ( Ab 14 J.).',
 'Das Buch der lÃ?Â¤cherlichen Liebe.',
 'Legacy of Silence',
 'Women on the Case',
 'The Brethren',
 'The Curious Incident of the Dog in the Night-Time : A Novel',
 'Bleachers',
 'The Da Vinci Code',
 'Skipping Christmas',
 'Sisterhood of the Traveling Pants',
 'All or Nothing (Wheeler Large Print Books)',
 "Smilla's Sense of Snow",
 'Guilt',
 'Roses Are Red (Alex Cross Novels)',
 'The Proud and the Free',
 'Girl with a Pearl Earring',
 'The Best Democracy Money Can Buy: The Truth About Corporate Cons, Globalization and High-Finance Fraudsters',
 'Cavedweller',
 'Le Divorce (William Abrahams Book)',
 'Summer of Storms',
 'Heart of the Sea (Irish Trilogy)',
 'The Cove',
 "River's End",
 'The Straw Men',
 'The Cat Who Tailed a Thief',
 'The Penwyth Curse',
 'Angels & Demons',
 'If Only It Were True',
 'Blackbird: A Childhood Lost and Found',
 'Crazy Horse',
 'Black Elk Speaks: Being the Life Story of a Holy Man of the Oglala Sioux',
 'The Silent Cry (William Monk Novels (Paperback))',
 'The Unsung Hero',
 'Wicked: The Life and Times of the Wicked Witch of the West',
 'Life of Pi',
 'The Little Prince',

In [67]:
books['Year-Of-Publication'].value_counts()

2002    101
2000     95
2001     80
1999     67
2003     64
1998     60
1996     46
1997     43
1994     36
1992     36
1995     34
1993     32
1991     26
1990     23
2004     23
1988     17
1989     15
1987     14
0        13
1986     13
1982      7
1981      6
1983      6
1974      4
1980      4
1985      4
1977      3
1978      3
1976      2
1971      2
1984      2
1968      2
1970      2
1965      1
1952      1
1961      1
1958      1
1975      1
1962      1
1973      1
1972      1
Name: Year-Of-Publication, dtype: int64

In [68]:
books.columns

Index(['ISBN', 'Book-Title', 'Year-Of-Publication', 'Publisher ID', 'Price'], dtype='object')

In [69]:
books = books[['ISBN', 'Book-Title', 'Price', 'Year-Of-Publication', 'Publisher ID']].copy()
#books.to_csv('books.csv',index=False)

In [70]:
books_for_which_genre_we_have.columns

Index(['Unnamed: 0', 'ISBN', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L', 'Price'],
      dtype='object')

In [71]:
author_ISBN = pd.merge(left = books_for_which_genre_we_have, right = authors,  left_on='Book-Author', right_on='Author Name')
author_ISBN.head()

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Price,Author Name,Author Email,Author ID,zipcode,Street Address
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,60,Mark P. O. Morford,MarkMorford@gmail.com,1,04765,27 Riverside Avenue
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,25,Richard Bruce Wright,RichardBruceWright@gmail.com,2,24265,47 Kensington Court
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,40,Carlo D'Este,Carlo@gmail.com,3,09502,6 Bluejay Trail
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,80,Gina Bari Kolata,GinaBariKolata@gmail.com,4,69020,3 Harbort Place
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,50,E. J. W. Barber,Barber@gmail.com,5,43522,6639 Hoard Crossing

In [72]:
author_ISBN = author_ISBN[['Author ID','ISBN']].copy()
author_ISBN.head()

   Author ID        ISBN
0          1  0195153448
1          2  0002005018
2          3  0060973129
3          4  0374157065
4          5  0393045218

In [73]:
#author_ISBN.to_csv('Author_ISBN.csv',index=False)

In [74]:
books = books.drop_duplicates()

In [75]:
books.iloc[506,:]
books.loc[books['Year-Of-Publication']==0,'Year-Of-Publication'] = 1989

In [76]:
books.columns

Index(['ISBN', 'Book-Title', 'Price', 'Year-Of-Publication', 'Publisher ID'], dtype='object')

In [77]:
books = books[['ISBN', 'Book-Title', 'Price','Year-Of-Publication', 'Publisher ID']].copy()

In [78]:
#books.to_csv('books.csv',index=False)

In [79]:
for i in range(1,store['zipcode'].shape[0]):
    
    if len(store['zipcode'][i]) != 5:
        print(len(store['zipcode'][i]))

In [80]:
authors.columns

Index(['Author Name', 'Author Email', 'Author ID', 'zipcode',
       'Street Address'],
      dtype='object')

In [81]:
authors = authors[['Author ID','Author Name', 'Author Email','Street Address', 'zipcode']].copy()

In [82]:
#authors.to_csv('Authors.csv',index=False)

In [83]:
#store.to_csv('store.csv',index=False)

# Subscription, customer and Store_Copies

In [84]:
customer_mock_data = pd.read_csv('D:/anaconda3/My_Projects/NORTHEASTERN UNIVERSITY (ASSIGNMENTS & OTHER WORK)/IDMP/Online-Book-Store/data_preprocessing/raw_data/customer_MOCK_DATA.csv')
customer_mock_data

,id,first_name,last_name,email,gender,phone,street
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court
...,...,...,...,...,...,...,...
995,996,Chas,Gurry,cgurryrn@washingtonpost.com,Male,490-768-9094,27 Grim Parkway
996,997,Janaya,Demko,jdemkoro@illinois.edu,Female,934-687-7376,51 Prentice Hill
997,998,Ethelin,Dorran,edorranrp@sogou.com,Female,990-455-6036,0 Vera Hill
998,999,Ludwig,Chater,lchaterrq@arizona.edu,Male,408-350-1557,4 Mockingbird Alley
999,1000,Cosetta,D'Adda,cdaddarr@hexun.com,Female,771-980-6223,33 Paget Avenue

In [85]:
range_min = pd.to_datetime('2022-11-01')
range_max = pd.to_datetime('2022-12-01')

days = (range_max - range_min).days + 1
customer_mock_data['Subscription Start Date'] = range_min + pd.to_timedelta(
    np.random.randint(days, size=customer_mock_data.shape[0]), unit='d')

In [86]:
customer_mock_data['Subscription Type'] = ''
customer_mock_data['Subscription Price'] = 0
customer_mock_data['Subscription Duration'] = 0

In [87]:
customer_mock_data.loc[::2,'Subscription Type'] = 'Gold'
customer_mock_data.loc[1::2,'Subscription Type'] = 'Silver'
customer_mock_data.iloc[list(range(0,999,10)),-3] = 'Platinum'

In [88]:
customer_mock_data.head()

,id,first_name,last_name,email,gender,phone,street,Subscription Start Date,Subscription Type,Subscription Price,Subscription Duration
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace,2022-11-23,Platinum,0,0
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court,2022-11-18,Silver,0,0
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center,2022-11-25,Gold,0,0
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace,2022-11-14,Silver,0,0
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court,2022-11-06,Gold,0,0

In [89]:
### END DATE CALCULATION

#customer_mock_data['Subscription End Date'] = 0
# customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Silver','Subscription End Date'] = customer_mock_data.loc[
#                                                                    customer_mock_data['Subscription Type'] == 'Silver','Subscription Start Date'] + pd.to_timedelta(30,unit='day')

# customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Gold','Subscription End Date'] = customer_mock_data.loc[
#                                                                    customer_mock_data['Subscription Type'] == 'Gold','Subscription Start Date'] + pd.to_timedelta(90,unit='day')


# customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Platinum','Subscription End Date'] = customer_mock_data.loc[
#                                                                    customer_mock_data['Subscription Type'] == 'Platinum','Subscription Start Date'] + pd.to_timedelta(180,unit='day')

# customer_mock_data['Subscription End Date'] = pd.to_datetime(customer_mock_data['Subscription End Date'])

In [90]:
customer_mock_data.head()

,id,first_name,last_name,email,gender,phone,street,Subscription Start Date,Subscription Type,Subscription Price,Subscription Duration
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace,2022-11-23,Platinum,0,0
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court,2022-11-18,Silver,0,0
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center,2022-11-25,Gold,0,0
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace,2022-11-14,Silver,0,0
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court,2022-11-06,Gold,0,0

In [91]:
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Silver','Subscription Price'] = 10
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Gold','Subscription Price'] = 15
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Platinum','Subscription Price'] = 20

In [92]:
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Silver','Subscription Duration'] = 30
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Gold','Subscription Duration'] = 90
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Platinum','Subscription Duration'] = 180

In [93]:
customer_mock_data['Subscription Id'] = 0

In [94]:
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Silver','Subscription Id'] = 1
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Gold','Subscription Id'] = 2
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Platinum','Subscription Id'] = 3

In [95]:
# for i in range(customer_mock_data.shape[0]):
#     customer_mock_data.loc[i,'Subscription Duration'] = (customer_mock_data['Subscription End Date'][i] - customer_mock_data['Subscription Start Date'][i]).days

In [96]:
# for i in range(customer_mock_data.shape[0]):
#     time = (customer_mock_data['Subscription End Date'][i] - customer_mock_data['Subscription Start Date'][i]).total_seconds()
#     hours = int(time/3600)
#     mins = int(time%60/60)
#     sec = int((time%60)%60)
#     customer_mock_data.loc[i,'Subscription Duration'] = '{:02d}:{:02d}:{:02d}'.format(hours, mins, sec)

In [97]:
customer_mock_data

,id,first_name,last_name,email,gender,phone,street,Subscription Start Date,Subscription Type,Subscription Price,Subscription Duration,Subscription Id
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace,2022-11-23,Platinum,20,180,3
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court,2022-11-18,Silver,10,30,1
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center,2022-11-25,Gold,15,90,2
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace,2022-11-14,Silver,10,30,1
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court,2022-11-06,Gold,15,90,2
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Chas,Gurry,cgurryrn@washingtonpost.com,Male,490-768-9094,27 Grim Parkway,2022-11-03,Silver,10,30,1
996,997,Janaya,Demko,jdemkoro@illinois.edu,Female,934-687-7376,51 Prentice Hill,2022-11-16,Gold,15,90,2
997,998,Ethelin,Dorran,edorranrp@sogou.com,Female,990-455-6036,0 Vera Hill,2022-11-18,Silver,10,30,1
998,999,Ludwig,Chater,lchaterrq@arizona.edu,Male,408-350-1557,4 Mockingbird Alley,2022-11-05,Gold,15,90,2
999,1000,Cosetta,D'Adda,cdaddarr@hexun.com,Female,771-980-6223,33 Paget Avenue,2022-11-03,Silver,10,30,1

In [98]:
subscription = customer_mock_data[['Subscription Id','Subscription Type','Subscription Price','Subscription Duration']].copy()
subscription.head()

,Subscription Id,Subscription Type,Subscription Price,Subscription Duration
0,3,Platinum,20,180
1,1,Silver,10,30
2,2,Gold,15,90
3,1,Silver,10,30
4,2,Gold,15,90

In [99]:
subscription = subscription.drop_duplicates()
subscription = subscription.sort_values(by = 'Subscription Id')
subscription

,Subscription Id,Subscription Type,Subscription Price,Subscription Duration
1,1,Silver,10,30
2,2,Gold,15,90
0,3,Platinum,20,180

In [100]:
from datetime import datetime

In [101]:
#subscription.loc[subscription['Subscription Duration'] == '2160:00:00','Subscription Duration'] = '00:00:00'

In [102]:
subscription

,Subscription Id,Subscription Type,Subscription Price,Subscription Duration
1,1,Silver,10,30
2,2,Gold,15,90
0,3,Platinum,20,180

In [103]:
subscription.to_csv('subscription.csv',index=False)

In [104]:
customer_mock_data

,id,first_name,last_name,email,gender,phone,street,Subscription Start Date,Subscription Type,Subscription Price,Subscription Duration,Subscription Id
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace,2022-11-23,Platinum,20,180,3
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court,2022-11-18,Silver,10,30,1
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center,2022-11-25,Gold,15,90,2
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace,2022-11-14,Silver,10,30,1
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court,2022-11-06,Gold,15,90,2
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Chas,Gurry,cgurryrn@washingtonpost.com,Male,490-768-9094,27 Grim Parkway,2022-11-03,Silver,10,30,1
996,997,Janaya,Demko,jdemkoro@illinois.edu,Female,934-687-7376,51 Prentice Hill,2022-11-16,Gold,15,90,2
997,998,Ethelin,Dorran,edorranrp@sogou.com,Female,990-455-6036,0 Vera Hill,2022-11-18,Silver,10,30,1
998,999,Ludwig,Chater,lchaterrq@arizona.edu,Male,408-350-1557,4 Mockingbird Alley,2022-11-05,Gold,15,90,2
999,1000,Cosetta,D'Adda,cdaddarr@hexun.com,Female,771-980-6223,33 Paget Avenue,2022-11-03,Silver,10,30,1

In [105]:
customer_mock_data['zipcode'] = list(zipcode['zipcode'].sample(customer_mock_data.shape[0]))

In [106]:
customer = customer_mock_data[['id', 'first_name', 'last_name', 'email', 'gender', 'phone', 'street','zipcode', 'Subscription Id','Subscription Start Date']].copy()
customer.head()

,id,first_name,last_name,email,gender,phone,street,zipcode,Subscription Id,Subscription Start Date
0,1,Isaak,Blacket,iblacket0@washingtonpost.com,Male,473-858-0757,530 Mandrake Terrace,23187,3,2022-11-23
1,2,Che,Merrydew,cmerrydew1@twitpic.com,Male,587-657-9062,85267 Pine View Court,55949,1,2022-11-18
2,3,Iorgo,McBryde,imcbryde2@fastcompany.com,Male,516-337-4166,60 Truax Center,90054,2,2022-11-25
3,4,Brady,Frankis,bfrankis3@wisc.edu,Male,921-520-5021,1680 Moose Terrace,65276,1,2022-11-14
4,5,Vonnie,Garlic,vgarlic4@alexa.com,Female,890-192-2784,2 Hoffman Court,01069,2,2022-11-06

In [107]:
customer.to_csv('customer.csv',index = False)

In [108]:
customer['gender'].value_counts()

Male           469
Female         434
Non-binary      21
Genderqueer     20
Polygender      18
Agender         16
Bigender        12
Genderfluid     10
Name: gender, dtype: int64

In [109]:
customer['Subscription Id'].value_counts()

1    500
2    400
3    100
Name: Subscription Id, dtype: int64

## Store copies

In [110]:
genres

      Unnamed: 0        ISBN      genres
0              0  0195153448     History
1              1  0195153448    Classics
2              2  0195153448  Nonfiction
3              3  0195153448   Reference
4              4  0195153448    Religion
...          ...         ...         ...
4849        4849  0765341972      Horror
4850        4850  0765341972     Mystery
4851        4851  0765341972     History
4852        4852  0590514776  Nonfiction
4853        4853  0373037430     Romance

[4854 rows x 3 columns]

In [111]:
store.head()

   id                 Address zipcode
0   1         3 Canary Avenue   21857
1   2     3218 Arrowood Plaza   70711
2   3        816 8th Crossing   84791
3   4  74984 Onsgard Junction   44681
4   5   52200 Lillian Parkway   98138

In [112]:
books.head()

,ISBN,Book-Title,Price,Year-Of-Publication,Publisher ID
0,0195153448,Classical Mythology,60,2002,1
1,0198320264,Julius Caesar (Oxford School Shakespeare),40,2001,1
2,0192815318,Cranford (The World's Classics),25,1982,1
3,0198604025,How Not to Say What You Mean: A Dictionary of ...,20,2003,1
4,0002005018,Clara Callan,25,2001,2

In [113]:
for i in gg:
    print(i)

NameError: name 'gg' is not defined

In [114]:
Store_Copies_id = []
Store_Copies_ISBN = []
Store_Copies_copies = []
for i in range(store['id'].shape[0]):
    for j in range(books['ISBN'].shape[0]):
        Store_Copies_id.append(store.loc[i,'id'])
        Store_Copies_ISBN.append(books.loc[j,'ISBN'])
        Store_Copies_copies.append(np.random.randint(0,100))

In [115]:
Store_Copies = pd.DataFrame({'Store ID': Store_Copies_id,'ISBN':Store_Copies_ISBN,'No of Copies':Store_Copies_copies})

In [118]:
Store_Copies[['Store ID','ISBN']].duplicated().sum()

0

In [122]:
Store_Copies.describe()

            Store ID   No of Copies
count  892000.000000  892000.000000
mean      500.500000      49.571627
std       288.675152      28.874503
min         1.000000       0.000000
25%       250.750000      25.000000
50%       500.500000      50.000000
75%       750.250000      75.000000
max      1000.000000      99.000000

In [120]:
# Store_Copies.to_csv('Store_Copies.csv',index=False)

In [ ]:
Error Code: 1062. Duplicate entry '1-0061076031' for key 'store_copies.PRIMARY'

In [ ]:
Store_Copies.loc[(Store_Copies['ISBN']=='0061076031') & (Store_Copies['Store ID']==1)]

In [ ]:
Store_Copies.to_csv('Store_Copies.csv',index=False)

In [ ]:
Store_Copies.loc[(Store_Copies['ISBN']=='0061076031')]

In [ ]:
zipcode

In [ ]:
genres_list = list(genres['genres'].unique())

In [ ]:
list(range(1,len(genres_list)))

In [ ]:
Genre_Df = pd.DataFrame({'Genre_id':list(range(1,len(genres_list)+1)),'genres':genres_list})
Genre_Df.head()

In [ ]:
Genre_Df.to_csv('Genre.csv',index=False)

In [ ]:
np.array(Genre_Df.loc[Genre_Df['genres']==i,'Genre_id'])[0]

In [ ]:
customer_mock_data.loc[customer_mock_data['Subscription Type'] == 'Silver','Subscription End Date'] = customer_mock_data.loc[
                                                                   customer_mock_data['Subscription Type'] == 'Silver','Subscription Start Date'] + pd.to_timedelta(30,unit='day')

In [ ]:
genres['id'] = 0
for i in Genre_Df['genres']:
    genres.loc[genres['genres'] == i,'id'] = np.array(Genre_Df.loc[Genre_Df['genres']==i,'Genre_id'])[0]

In [ ]:
Book_Genre = genres[['id','ISBN']].copy()
Book_Genre.head()

In [ ]:
Book_Genre.to_csv('Book_Genre.csv',index=False)

In [ ]:
Book_Genre.dtypes

In [ ]:
Error Code: 1452. Cannot add or update a child row: a foreign key constraint fails (`book_store`.`book_genre`, CONSTRAINT `book_genre_ibfk_2` FOREIGN KEY (`ISBN`) REFERENCES `book` (`ISBN`))

In [ ]:
Error Code: 1452. Cannot add or update a child row: a foreign key constraint fails (`book_store`.`book_genre`, CONSTRAINT `book_genre_ibfk_2` FOREIGN KEY (`ISBN`) REFERENCES `book` (`ISBN`))